// Colors

$prime_blue: #052E5C;
$dark_green_blue: #094754;
$light_green_blue: #278577;
$green: #278577;
$green_yellow: #91D451;
$light_green_yellow: #C4FB79;

$jpgGreen: #93d551;
$jpgTurq: #0f3b5a;
$jpgLightBlue: #37597f;
$darkBlue: 052959;
